/solution/.vs
/solution/Planos.Web/bin
/solution/Planos.Web/obj
/solution/Planos.Web/ClientApp/node_modules/.cache/babel-loader
*.user
/solution/Planos.Web/ClientApp/.idea
/solution/Planos.Web/ClientApp/node_modules
